
@{
    ViewData["Title"] = "Index";
}

<div class="backgroung">
    <h3 style="color:#FF8C00;visibility:hidden" class="h3">Recommended :</h3>
    <br />
    <div id="recommended"></div>
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h3 style="color:#FF8C00;visibility:hidden" class="h3">Movies :</h3>
    <br />
    <div id="movies">
    </div>
</div>
<link rel="stylesheet" href="~/css/site.css" type="text/css" />

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script src="~/js/scriptMovies.js"></script>
